/* Standaard styling grid */

body > div {

    height: 75vw;
    aspect-ratio: 1 / 1;
    
    max-width: 500px;
    max-height: 500px;

    display:grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

/* Achtergrondkleur op zwart*/

div:nth-of-type(1) {
    background-color: black;
}

/* Genereer random vakjes */

div:nth-of-type(1n) {

    --g1: radial-gradient(
        circle,
        yellow 50%,
        transparent 50%
    );

    --size1: random(--size1 element-shared, 1,5,1);
    --row1: random(--row1 element-shared, 1,calc(9 - var(--size1)),1);
    --column1: random(--column1 element-shared, 1,calc( 9 - var(--size1)),1);

    grid-row-start: var(--row1);
    grid-column-start: var(--column1);
    grid-row-end: span var(--size1);
    grid-column-end: span var(--size1);

    background-image: var(--g1);
    mix-blend-mode: difference;
}

div:nth-of-type(2n) {

    --g2: linear-gradient(
        45deg,
        yellow 50%,
        transparent 50%
    );

    --size2: random(--size2 element-shared, 1,5,1);
    --row2: random(--row2 element-shared, 1,calc(9 - var(--size2)),1);
    --column2: random(--column2 element-shared, 1,calc( 9 - var(--size2)),1);

    grid-row-start: var(--row2);
    grid-column-start: var(--column2);
    grid-row-end: span var(--size2);
    grid-column-end: span var(--size2);

    background-image: var(--g2);
    mix-blend-mode: difference;
}

div:nth-of-type(3n) {

    --g3: linear-gradient(
        -45deg,
        yellow 50%,
        transparent 50%
    );

    --size3: random(--size3 element-shared, 1,5,1);
    --row3: random(--row3 element-shared, 1,calc(9 - var(--size3)),1);
    --column3: random(--column3 element-shared, 1,calc( 9 - var(--size3)),1);

    grid-row-start: var(--row3);
    grid-column-start: var(--column3);
    grid-row-end: span var(--size3);
    grid-column-end: span var(--size3);

    background-image: var(--g3);
    mix-blend-mode: difference;
}

div:nth-of-type(4n) {

    --g4: linear-gradient(
        90deg,
        yellow 50%,
        transparent 50%
    );

    --size4: random(--size4 element-shared, 1,5,1);
    --row4: random(--row4 element-shared, 1,calc(9 - var(--size4)),1);
    --column4: random(--column4 element-shared, 1,calc( 9 - var(--size4)),1);

    grid-row-start: var(--row4);
    grid-column-start: var(--column4);
    grid-row-end: span var(--size4);
    grid-column-end: span var(--size4);

    background-image: var(--g4);
    background-size: 1em 1em;
    mix-blend-mode: difference;
}

div:nth-of-type(5n) {

    --g5: linear-gradient(
        0deg,
        yellow 50%,
        transparent 50%
    );

    --size5: random(--size5 element-shared, 1,5,1);
    --row5: random(--row5 element-shared, 1,calc(9 - var(--size5)),1);
    --column5: random(--column5 element-shared, 1,calc( 9 - var(--size5)),1);

    grid-row-start: var(--row5);
    grid-column-start: var(--column5);
    grid-row-end: span var(--size5);
    grid-column-end: span var(--size5);

    background-image: var(--g5);
    background-size: 1em 1em;
    mix-blend-mode: difference;
}

/* 
https://www.magicpattern.design/tools/css-backgrounds 
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/Combinators
https://www.w3schools.com/css/css_combinators.asp
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors
https://www.w3schools.com/cssref/css_pr_inset.php
https://www.w3schools.com/cssref/pr_pos_z-index.php
https://stackoverflow.com/questions/1776915/how-can-i-center-an-absolutely-positioned-element-in-a-div
https://css-tricks.com/almanac/functions/r/random/
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/round
https://www.youtube.com/watch?v=mXrBC_mZfTw
https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Line-based_placement
*/
